@charset "UTF-8";
/*---전체 디자인---*/
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
body {
  font-family: "Roboto";
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  list-style: none;
}

a,
p,
span {
  text-decoration: none;
  font-family: "Roboto";
  color: #333;
}

/*---- 폰트사이즈 변경 ---*/
/*---- 간격/애니메이션 세팅 ---*/
/*---전체 컬러 디자인---*/
/*---전체 버튼 디자인---*/
/*----헤더영역 세팅---*/
#header {
  position: fixed;
  top: 0;
  z-index: 99999;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
#header::after {
  content: "";
  display: block;
  clear: both;
}

.logo {
  text-align: center;
  width: 130px;
  display: inline-block;
}
.logo a {
  font-size: 0;
  text-indent: -9999px;
}
.logo a img {
  width: 100%;
}

.header--gnb {
  float: right;
}

ul.gnb {
  display: inline-block;
}
ul.gnb li {
  float: left;
}
ul.gnb li a {
  font-weight: 500;
}
ul.gnb li.gnb-menu {
  margin: 0 15px;
  padding-top: 10px;
}
ul.gnb li.button {
  margin: 0 5px;
  box-sizing: border-box;
}

/*---------- container공통영역 ----------*/
.inner {
  margin: 0 auto;
}

.button-type1 {
  padding: 0.6em 1.5em;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  background-color: #ff7a22;
  border-radius: 20px;
}
.button-type1 a {
  color: white;
}
.button-type1 a:hover {
  color: #ff7a22;
}
.button-type1:hover {
  box-shadow: 0px 3px 3px rgba(255, 155, 41, 0.288);
  border: 1px solid #ff7a22;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
}

.button-type2 {
  font-size: 25px;
  padding: 0.6em 1.5em;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  background-color: white;
  color: #ff7a22;
  border-radius: 20px;
  border: 1px solid #ff7a22;
}
.button-type2:hover {
  box-shadow: 0px 3px 3px rgba(255, 155, 41, 0.288);
  background-color: #ff7a22;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.button-type2:hover p {
  color: white;
  transition: all 0.3s ease 0s;
}
.button-type2 p {
  font-size: 16px;
  color: #444;
}

.cont-box {
  margin: 0 auto;
  content: "";
  display: block;
  clear: both;
}
.cont-box .button {
  float: left;
  margin: 0 2em;
  padding: 2em;
}
.cont-box p {
  margin-bottom: 15px;
  font-size: 16px;
}

.cont-padding {
  padding: 80px 0;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 1.2em;
}

h3 {
  font-size: 28px;
  line-height: 1.2em;
  font-weight: 600;
}

footer {
  padding: 30px 0;
  background-color: #2F2F2F;
}
footer a,
footer p,
footer span {
  color: #DEDEDE;
  line-height: 1.5;
}
footer .footer-logo {
  width: 200px;
  float: left;
}
footer .footer-logo img {
  width: 100%;
}
footer .logo-div,
footer .use-div {
  width: 100%;
}
footer .logo-div::after,
footer .use-div::after {
  content: "";
  display: block;
  clear: both;
}
footer .call {
  float: right;
  padding-top: 28px;
  font-size: 25px;
}
footer ul.use {
  float: left;
}
footer ul.sns {
  float: right;
}
footer ul li {
  float: left;
  margin-right: 30px;
}
footer .contact > div {
  padding: 2em 0;
}
footer .contact-text2 {
  border-top: 1px solid #DEDEDE;
  opacity: 0.6;
}
footer .contact-text2 i {
  padding-left: 6px;
}/*# sourceMappingURL=all-html.css.map */