    /*--전체 디자인 css include--*/
    
    @import 'all-html';
    .flexbox_02 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2%;
    }
    
    .item_02 {
        margin-bottom: 3%;
        flex-shrink: 1;
        flex-grow: 1;
        justify-content: center;
        img {
            width: 100%;
        }
    }
    
    .flexbox_03 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3%;
    }
    
    .item_03 {
        margin-bottom: 3%;
        flex-shrink: 1;
        flex-grow: 1;
    }
    
    .flexbox_04 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2%;
    }
    
    .item_04 {
        margin-bottom: 2%;
        flex-shrink: 1;
        flex-grow: 1;
    }
    
    .flexbox_05 {
        display: flex;
        flex-wrap: wrap;
    }
    
    .item_05 {
        margin-bottom: 2%;
        flex-shrink: 1;
        img {
            width: 90%;
        }
        height: auto;
    }
    
    .item-reverse {
        flex-direction: row-reverse;
    }
    /*--------- 모바일 반응형 --------*/
    
    @media screen and (min-width:0px) and (max-width:1079px) {
        h2 {
            font-size: 35px;
        }
        h3 {
            font-size: 23px;
            margin-bottom: 20px;
        }
        .cont--inner {
            width: 90%;
            margin: 0 5%;
        }
        .mobile {
            display: block;
        }
        .pc {
            display: none;
        }
        .item_02 {
            flex-basis: 100%;
            justify-content: center;
            max-width: 100%;
        }
        .item_03,
        .item_04 {
            flex-basis: 48.5%;
        }
        .flexbox_05 {
            justify-content: flex-start;
        }
        .item_05 {
            flex-basis: calc(25% - 20px);
            margin: 10px;
            box-sizing: border-box;
        }
        .simple__textarea {
            height: 200px;
        }
    }
    /*--------- PC 반응형 --------*/
    
    @media screen and (min-width:1080px) {
        .cont--inner {
            width: 1080px;
            margin: 0 auto;
        }
        .mobile {
            display: none;
        }
        .pc {
            display: block;
        }
        input[id="menuicon"]+label {
            display: none;
        }
        .item_02 {
            flex-basis: 46.5%;
            max-width: 540px;
        }
        .item_03 {
            flex-basis: 31%;
        }
        .item_04 {
            flex-basis: 23%;
        }
        .flexbox_05 {
            justify-content: space-between;
        }
        .item_05 {
            flex-basis: 8%;
        }
        .simple__textarea {
            height: 265px;
        }
    }
    
    @media screen and (min-width:0px) and (max-width:470px) {
        .item_05 {
            flex-basis: calc(50% - 20px);
        }
    }