/*--------- 모바일 반응형 --------*/

@media screen and (min-width:0px) and (max-width:1079px) {
    .cont--inner {
        width: 90%;
        margin: 0 5%;
    }
    .mobile {
        display: block;
    }
    .pc {
        display: none;
    }
}


/*--------- PC 반응형 --------*/

@media screen and (min-width:1080px) {
    .cont--inner {
        width: 1080px;
        margin: 0 auto;
    }
    .mobile {
        display: none;
    }
    .pc {
        display: block;
    }
}