@charset "UTF-8";
/*--전체 디자인 css include----*/ /*---전체 디자인---*/
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
body {
  font-family: "Roboto";
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  list-style: none;
}

a,
p,
span {
  text-decoration: none;
  font-family: "Roboto";
  color: #333;
}

/*---- 폰트사이즈 변경 ---*/
/*---- 간격/애니메이션 세팅 ---*/
.blind {
  visibility: hidden;
  position: absolute;
  top: -9999999px;
  left: -9999999px;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  background: none;
  font-size: 0;
  line-height: 0;
  text-indent: -9999999px;
}

.cont1 {
  margin-top: 55px;
}

.cont2,
.cont3,
.cont5,
.cont6,
.cont7,
.cont8,
.cont9,
.cont10 {
  padding: 120px 0;
}

.cont4 {
  padding: 0;
}

/*---전체 컬러 디자인---*/
/*---전체 버튼 디자인---*/
/*---------- 버튼디자인 ----------*/
.button-type1 {
  padding: 0.6em 1.5em;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  background-color: #ff7a22;
  border: 1px solid #ff7a22;
  border-radius: 20px;
}
.button-type1 a {
  color: white;
}
.button-type1:hover {
  box-shadow: 0px 3px 3px rgba(255, 155, 41, 0.288);
  border: 1px solid #ff7a22;
  background-color: white;
  cursor: pointer;
}
.button-type1:hover a {
  color: #ff7a22;
}

.button-type2 {
  font-size: 25px;
  padding: 0.6em 1.5em;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  background-color: white;
  color: #ff7a22;
  border-radius: 20px;
}
.button-type2:hover {
  box-shadow: 0px 3px 3px rgba(255, 155, 41, 0.288);
  background-color: #ff7a22;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.button-type2:hover p {
  color: white;
  transition: all 0.3s ease 0s;
}
.button-type2 p {
  font-size: 16px;
  color: #444;
}

.button-type3 {
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  border-radius: 7px;
}
.button-type3 > input, .button-type3 > li {
  border: none;
  background-size: 55% 60% !important;
  background-position: center 10px !important;
  line-height: 10.5 !important;
  text-align: center;
  box-sizing: border-box;
  min-width: 95px;
  font-size: 15px !important;
  max-height: 100px;
}
.button-type3 i {
  position: absolute;
  top: 7px;
  right: 7px;
}
.button-type3:hover {
  box-shadow: 0px 0px 5px 0px #ff9948;
}
.button-type3.clicked {
  box-shadow: 0px 0px 5px 0px #ff9948;
  border: 0;
  outline: 0;
}

.button-type4 {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 2.5rem;
}
.button-type4 i {
  position: absolute;
  bottom: calc(50% - 7px) !important;
  right: 20px !important;
  color: #ff8888;
}
.button-type4 .storageType__container__button {
  -webkit-appearance: none;
  width: 100%;
  height: inherit;
  border: 0px solid #ffffff;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.button-type4:hover {
  box-shadow: 0px 0px 5px 0px #ff9948;
}
.button-type4 > input, .button-type4 > li {
  font-size: 16px !important;
}

.button-type5 {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 2.5rem;
}
.button-type5 label {
  height: inherit;
  display: block;
  position: relative;
  padding-top: 13px;
  cursor: pointer;
  height: 100%;
  text-align: center;
}
.button-type5 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.button-type5 .check {
  position: absolute;
  left: 12px;
  height: 15px;
  width: 15px;
  background-color: var(--color__white);
  border-radius: 50%;
  border: 1px solid #474747;
}
.button-type5 input:checked ~ .check {
  background-color: var(--color__white);
  border-color: var(--color__white);
  border: 1px solid #f18b24;
}
.button-type5 .check:after {
  content: "";
  position: absolute;
  display: none;
}
.button-type5 label .check:after {
  top: 2.5px;
  left: 2.5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--syboml__color);
}
.button-type5 label input:checked ~ .check:after {
  display: block;
}
.button-type5:hover {
  box-shadow: 0px 0px 5px 0px #ff9948;
}

.large-button {
  margin-top: 20px;
  width: 300px;
  margin-left: calc(50% - 175px);
  text-align: center;
  padding: 12px 0;
}
.large-button i {
  margin-left: 20px;
}

/*---------- container공통영역 ----------*/
.gray-text {
  color: #999;
}

.inner {
  margin: 0 auto;
}

.cont-box {
  margin: 0 auto;
  content: "";
  display: block;
  clear: both;
}
.cont-box .button {
  float: left;
}
.cont-box p {
  margin-bottom: 30px;
  font-size: 16px;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 1.2em;
}

h3 {
  font-size: 28px;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 40px;
}
h3 .number {
  width: 20px;
  height: 20px;
  padding: 0 7px;
  margin-right: 10px;
  color: #ff7a22;
  border-radius: 6px;
  border: 2px solid #ff7a22;
}

.orange {
  color: #ff7a22;
}

/*---------- input 디자인----------*/
textarea,
input[type=input],
input[type=number] {
  border: 1px solid rgb(197, 197, 197);
  border-radius: 10px;
}
textarea:focus,
input[type=input]:focus,
input[type=number]:focus {
  background: #fdfdf4;
}

.section__container::after {
  content: "";
  display: block;
  clear: both;
}

.simple__input__area .detail__container span {
  font-weight: 600;
}
.simple__input__area .checkbox__area::after {
  content: "";
  display: block;
  clear: both;
}
.simple__input__area .checkbox__area .simpleOrder__checkbox {
  position: relative;
}
.simple__input__area .checkbox__area .simpleOrder__checkbox::after {
  content: "";
  display: block;
  clear: both;
}
.simple__input__area .checkbox__area .simpleOrder__checkbox span {
  line-height: 1.3;
  display: inline-block;
  padding-left: 35px;
}
.simple__input__area .checkbox__area .checkbox {
  position: absolute;
  left: 0;
  display: block;
  z-index: 0;
}

.simple__input {
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  padding: 10px 5px;
  margin-top: 6px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.checkbox {
  border: 1px solid #ff7a22;
  width: 20px;
  border-radius: 10px;
  outline: none;
  padding: 10px 5px;
  background-color: #fff;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  border: 3px solid #707070;
  border-radius: 10px;
  outline: none;
}

/*--intriduction 디자인 css--*/
.cont1 .cont--inner {
  background-size: contain;
  background-position: right bottom;
  background-image: url("../images/history-image.png");
  background-repeat: no-repeat;
}
.cont1 h3 {
  margin-top: 130px;
}
.cont1 .history-time {
  font-size: 25px;
}
.cont1 .history h4 {
  margin: 0 20px;
  color: #ff7a22;
  font-size: 20px;
  float: left;
  position: relative;
}
.cont1 .history h4::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 50%;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  transform: translateY(-50%);
  border: 7px solid #ff7a22;
  box-sizing: border-box;
}
.cont1 .history div {
  position: relative;
  padding: 0 0 0 20px;
}
.cont1 .history div::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 0;
  height: 100%;
  border-left: 2px dotted #ff7a22;
}
.cont1 .history div:first-child::before {
  top: 10px;
  height: calc(100% - 10px);
}
.cont1 .history div::after {
  content: "";
  display: block;
  clear: both;
}
.cont1 .history ol {
  padding: 20px 0 74px;
  float: left;
  margin-top: -25px;
}
.cont1 .history ol li {
  color: #333;
  line-height: 30px;
}
.cont1 .history ol li span {
  font-size: 20px;
  color: rgb(143, 143, 143);
  margin-right: 15px;
  display: inline-block;
}

.cont2 .cont--inner::after {
  content: "";
  display: block;
  clear: both;
}
.cont2 .item_02 p {
  line-height: 1.5;
}
.cont2 .item_02 .strong {
  font-weight: bold;
}
.cont2 .contact-text1 .strong {
  margin-right: 30px;
}

/*--------- 모바일 반응형 --------*/
@media screen and (min-width: 0px) and (max-width: 1079px) {
  .cont1 .cont--inner {
    background-size: 300px;
    padding-bottom: 30%;
  }
  .cont1 .history {
    margin-left: 20px;
    padding-top: 20px;
  }
  .cont2 .contact-height {
    height: initial;
    margin-bottom: 50px;
  }
  .cont2 .contact-text1 {
    height: 40px;
  }
}
/*--------- PC 반응형 --------*/
@media screen and (min-width: 1080px) {
  .cont1 .cont--inner {
    background-size: 500px;
  }
  .cont1 .history {
    margin-left: 150px;
  }
  .cont2 .contact-height {
    height: 420px;
  }
}/*# sourceMappingURL=introduction.css.map */