@charset "UTF-8";
/*--전체 디자인 css include--*/ /*---전체 디자인---*/
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
body {
  font-family: "Roboto";
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  list-style: none;
}

a,
p,
span {
  text-decoration: none;
  font-family: "Roboto";
  color: #333;
}

/*---- 폰트사이즈 변경 ---*/
/*---- 간격/애니메이션 세팅 ---*/
.blind {
  visibility: hidden;
  position: absolute;
  top: -9999999px;
  left: -9999999px;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  background: none;
  font-size: 0;
  line-height: 0;
  text-indent: -9999999px;
}

/*---전체 컬러 디자인---*/
/*---전체 버튼 디자인---*/
/*---------- 버튼디자인 ----------*/
.button-type1 {
  padding: 0.6em 1.5em;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  background-color: #ff7a22;
  border: 1px solid #ff7a22;
  border-radius: 20px;
}
.button-type1 a {
  color: white;
}
.button-type1:hover {
  box-shadow: 0px 3px 3px rgba(255, 155, 41, 0.288);
  border: 1px solid #ff7a22;
  background-color: white;
  cursor: pointer;
}
.button-type1:hover a {
  color: #ff7a22;
}

.button-type2 {
  font-size: 25px;
  padding: 0.6em 1.5em;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  background-color: white;
  color: #ff7a22;
  border-radius: 20px;
}
.button-type2:hover {
  box-shadow: 0px 3px 3px rgba(255, 155, 41, 0.288);
  background-color: #ff7a22;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.button-type2:hover p {
  color: white;
  transition: all 0.3s ease 0s;
}
.button-type2 p {
  font-size: 16px;
  color: #444;
}

.button-type3 {
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  border-radius: 7px;
  height: auto;
}
.button-type3 > input, .button-type3 > li {
  border: none;
  background-size: 55% 60% !important;
  background-position: center 10px !important;
  line-height: 10.5 !important;
  text-align: center;
  box-sizing: border-box;
  min-width: 95px;
  font-size: 15px !important;
  max-height: 100px;
}
.button-type3 i {
  position: absolute;
  top: 10px;
  right: 10px;
}
.button-type3:hover {
  box-shadow: 0px 0px 5px 0px #ff9948;
}
.button-type3.clicked {
  box-shadow: 0px 0px 5px 0px #ff9948;
  border: 0;
  outline: 0;
}

.button-type4 {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 2.5rem;
}
.button-type4 i {
  position: absolute;
  bottom: calc(50% - 7px) !important;
  right: 20px !important;
}
.button-type4 .storageType__container__button {
  -webkit-appearance: none;
  width: 100%;
  height: inherit;
  border: 0px solid #ffffff;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.button-type4:hover {
  box-shadow: 0px 0px 5px 0px #ff9948;
}
.button-type4 > input, .button-type4 > li {
  font-size: 16px !important;
}

.button-type5 {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: inherit;
}
.button-type5 .button5-css {
  height: 100px;
}
.button-type5 label {
  display: block;
  position: relative;
  padding: 12px 0;
  cursor: pointer;
  text-align: center;
}
.button-type5 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.button-type5 .check {
  position: absolute;
  left: 12px;
  height: 15px;
  width: 15px;
  background-color: var(--color__white);
  border-radius: 50%;
  border: 1px solid #474747;
}
.button-type5 input:checked ~ .check {
  background-color: var(--color__white);
  border-color: var(--color__white);
  border: 1px solid #f18b24;
}
.button-type5 .check:after {
  content: "";
  position: absolute;
  display: none;
}
.button-type5 label .check:after {
  top: 2.5px;
  left: 2.5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--syboml__color);
}
.button-type5 label input:checked ~ .check:after {
  display: block;
}
.button-type5:hover {
  box-shadow: 0px 0px 5px 0px #ff9948;
}

.large-button {
  margin-top: 20px;
  width: 250px;
  margin-left: calc(50% - 150px);
  text-align: center;
}
.large-button i {
  margin-left: 20px;
}

/*---------- container공통영역 ----------*/
.gray-text {
  color: #999;
}

.inner {
  margin: 0 auto;
}

.cont-box {
  margin: 0 auto;
  content: "";
  display: block;
  clear: both;
}
.cont-box .button {
  float: left;
}
.cont-box p {
  font-size: 16px;
}

h2 {
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 1.2em;
}

h3 {
  font-size: 28px;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 40px;
}
h3 .number {
  width: 20px;
  height: 20px;
  padding: 0 7px;
  margin-right: 10px;
  color: #ff7a22;
  border-radius: 6px;
  border: 2px solid #ff7a22;
}

.orange {
  color: #ff7a22;
}

/*---------- input 디자인----------*/
textarea,
input[type=input],
input[type=number] {
  border: 1px solid rgb(197, 197, 197);
  border-radius: 10px;
}
textarea:focus,
input[type=input]:focus,
input[type=number]:focus {
  background: #fdfdf4;
}

.section__container::after {
  content: "";
  display: block;
  clear: both;
}

.simple__input__area .detail__container span {
  font-weight: 600;
}
.simple__input__area .checkbox__area::after {
  content: "";
  display: block;
  clear: both;
}
.simple__input__area .checkbox__area .simpleOrder__checkbox {
  position: relative;
}
.simple__input__area .checkbox__area .simpleOrder__checkbox::after {
  content: "";
  display: block;
  clear: both;
}
.simple__input__area .checkbox__area .simpleOrder__checkbox span {
  line-height: 1.3;
  display: inline-block;
  padding-left: 35px;
}
.simple__input__area .checkbox__area .checkbox {
  position: absolute;
  left: 0;
  display: block;
  z-index: 0;
}

.simple__input {
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  padding: 10px 5px;
  margin-top: 6px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.memo__input__container .simple__input {
  height: 280px;
}

.checkbox {
  border: 1px solid #ff7a22;
  width: 20px;
  border-radius: 10px;
  outline: none;
  padding: 10px 5px;
  background-color: #fff;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  outline: none;
}

input[type=checkbox] span {
  margin-top: 20px;
}

/*post slider*/
.slider-wrap {
  position: relative;
}
.slider-wrap .cont {
  margin: 0 10px;
  background-color: #fff;
  border-radius: 15px !important;
}
.slider-wrap .cont img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.slider-wrap .cont .news-img-area {
  position: relative;
}
.slider-wrap .cont .news-img-area i {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: #ff7a22;
}
.slider-wrap .cont .news-img-area i:hover {
  color: #fff;
}
.slider-wrap .cont .news-title {
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
}
.slider-wrap .slick-arrow {
  all: unset;
  position: absolute;
  top: calc(50% - 25px);
  cursor: pointer;
  z-index: 1;
  font-size: 25px;
}
.slider-wrap .slick-arrow:hover {
  color: #ff7a22;
}
.slider-wrap .slick-next {
  right: -15px;
}
.slider-wrap .slick-prev {
  left: -15px;
}

.slick-dots {
  display: none !important;
}

.orange-back {
  background-color: #ffe0d7;
}

p,
span {
  line-height: 1.3;
}

/* 인풋 넘버 증감감소 화살표 표시 없애기 */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*--price 디자인 css--*/
.small-text {
  color: rgb(151, 151, 151);
  font-size: 18px;
  display: block;
}

#svg_form_time {
  height: 20px;
  max-width: 80%;
  margin: 40px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}

#svg_wrap {
  margin-top: 100px;
}

.disabled {
  display: none;
}

section {
  margin: 30px auto;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.button-inner::after {
  content: "";
  display: block;
  clear: both;
}
.button-inner > div {
  margin: 30px 0;
}
.button-inner #prev {
  float: left;
}
.button-inner #next,
.button-inner #submit {
  float: right;
}

@media screen and (min-width: 0px) and (max-width: 1079px) {
  .stepone__category__list__label__input {
    width: 100%;
    height: 100px;
  }
  .service__description,
.stepone__category-description {
    display: block;
    margin-bottom: 10px;
  }
  .category-title-css {
    margin-right: 0px;
    margin-top: 40px;
    margin-bottom: 5px;
  }
}
/*--------- PC 반응형 --------*/
@media screen and (min-width: 1080px) {
  .stepone__category__list__label__input {
    height: 100px;
    width: 100px;
  }
  .category-title-css {
    margin-right: 60px;
    margin-top: 65px;
    margin-bottom: 15px;
  }
}
:root {
  --syboml__color: #ff9948;
  --background_color_one: #fff;
  --font_color: #ffa63f;
  --font_stepbar_color: #6d6d6d;
  --font_text_color: #474747;
  --color_step_eclispe: #fff3d2;
  --color_range_bar: #ffc671;
  --color_divider: #ffd18c;
  --color_category_description: #666666;
  --color_button_deactive: #ffffff;
  --color__white: #ffffff;
  --color__tesxt: #23232;
  --color__checked: #f18b24;
}

.divider {
  width: 90%;
  max-width: 100%;
  border: 1px solid var(--color_divider);
  margin: 0rem auto;
}

.stepone__title {
  color: var(--syboml__color);
}

.stepone__category-description {
  color: var(--color_category_description);
}

.stepone__category-description.both {
  color: #c4c4c4;
}

.stepone__category__list li i {
  color: #ffffff;
}
.stepone__category__list li .clothes {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/catecory01.svg") no-repeat;
}
.stepone__category__list li .stuff {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/catecory02.svg") no-repeat;
}
.stepone__category__list li .beauty {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/catecory03.svg") no-repeat;
}
.stepone__category__list li .householdgoods {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/catecory04.svg") no-repeat;
}
.stepone__category__list li .electronics {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/catecory05.svg") no-repeat;
}
.stepone__category__list li .stationery {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/catecory06.svg") no-repeat;
}
.stepone__category__list li .food {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/catecory07.svg") no-repeat;
}
.stepone__category__list li .etc {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/catecory08.svg") no-repeat;
}
.stepone__category__list li > input {
  cursor: pointer;
}
.stepone__category__list li:hover {
  box-shadow: 0px 0px 5px 0px #ff9948;
}
.stepone__category__list li.clicked {
  color: var(--color__checked);
}

.detail__container {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.detail__input {
  background: #f2f2f2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  height: 40px;
  max-width: 100%;
  width: 100%;
}

.productURL__container {
  flex-direction: column;
  align-items: left;
  text-align: left;
}
.productURL__container .productURL__text__container {
  flex-direction: column;
}
.productURL__container .productURL__input {
  border: 0.5px solid #c4c4c4;
  background: #f2f2f2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 40px;
  max-width: 100%;
  width: 100%;
  margin-top: 1.5625rem;
}
.productURL__container .productURL__input:focus {
  background: #ffffff;
}

.productCaution__container {
  flex-direction: column;
  margin-top: 2.5rem;
  align-items: left;
  text-align: left;
}
.productCaution__container .productCaution__title__container {
  display: flex;
  flex-direction: column;
}

.productCaution__list {
  margin: 0 auto 50px auto;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}
.productCaution__list .fragile {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/warning01.svg") no-repeat center;
}
.productCaution__list .discoloration {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/warning02.svg") no-repeat center;
}
.productCaution__list .highprice {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/warning03.svg") no-repeat center;
}
.productCaution__list .fitness_product {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/warning04.svg") no-repeat center;
}
.productCaution__list .largefurniture {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/warning05.svg") no-repeat center;
}
.productCaution__list .position {
  visibility: hidden;
}

.category-title-css {
  font-weight: 600;
  font-size: 17px;
  display: inline-block !important;
}

.description-title {
  font-size: 14px;
  margin: 15px 0;
  display: block;
}

.total {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/packing.svg") no-repeat center;
}

.only {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/box.svg") no-repeat center;
}

.pallet {
  background: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/pallet.svg") no-repeat center;
}

input[type=checkbox]:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
  content: "hello";
  background: center var(--font_color) url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/checkicon.png") no-repeat;
}

.noUi-target {
  width: 100%;
  height: 14px;
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  border-radius: 10px;
  /* iOS */
  margin-bottom: 0.5rem;
  margin: 2% auto;
  margin-bottom: 1%;
  border: none;
}

.noUi-connect {
  background: #ff9410;
  height: 100px;
}

.noUi-handle {
  width: 16px !important;
  height: 25px !important;
  border: none;
  box-shadow: none;
  background-color: #ff4800;
  border-radius: 6px;
  top: -8px;
}
.noUi-handle:before, .noUi-handle:after {
  display: none;
}

.range__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.range__container .range__firstColumn {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 1.875rem;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 700 !important;
}
.range__container .range__firstColumn .range__description {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-right: 1.875rem;
}
.range__container .range__firstColumn .range__description input {
  display: inline;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #f6f6f6;
  border: 0.5px solid #cacaca;
  box-sizing: border-box;
  text-align: center;
  margin-right: 1.875rem;
}
.range__container .range__secondColumn {
  width: 100%;
  margin: 0 auto;
}
.range__container .range__secondColumn .inputStore__range {
  height: 20px;
}
.range__container .range__secondColumn .inputStore__range__count {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.range__container .range__secondColumn .inputStore__range__count .count__one {
  margin-left: 5%;
}
.range__container .range__secondColumn .inputStore__range__count .count__thousnd {
  margin-right: 5%;
}
.range__container .range__secondColumn .calendar-inputStoreDate::-moz-placeholder {
  background-image: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/calendar.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 3% center;
}
.range__container .range__secondColumn .calendar-inputStoreDate:-ms-input-placeholder {
  background-image: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/calendar.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 3% center;
}
.range__container .range__secondColumn .calendar-inputStoreDate::placeholder {
  background-image: url("https://imyourbox.s3.ap-northeast-2.amazonaws.com/imyourbox_images/calendar.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 3% center;
}
.range__container .range__secondColumn .calendar-inputStoreDate {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 0.5px solid #c4c4c4;
  background: #f2f2f2;
}
.range__container .inputDate {
  margin-top: 3%;
  margin-bottom: 4.9375rem;
}

.end__container {
  margin: 0 auto 80px auto;
}

.logistics_service_kinds__container li {
  padding: 20px;
}

.logistics_service_kinds__list p {
  font-weight: 600;
  margin-bottom: 20px;
}

.output__radio__groups label,
.inputStoreType__radio__groups label {
  height: 40%;
  margin-top: 20px;
  padding-top: 0 !important;
}

.output__radio__groups_radio__text p,
.inputStoreType__radio__groups_radio__text p {
  margin-bottom: 60px;
  text-align: left;
  padding-left: 35px;
  color: #333;
}
.output__radio__groups_radio__text .radio__description,
.inputStoreType__radio__groups_radio__text .radio__description {
  text-align: center;
  padding: 0 10px;
}

.outputBoxsize__Radio__lists-title {
  font-weight: bold;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.avatar .large-text {
  font-size: 25px;
}
.avatar img {
  width: 100px;
  height: 100px;
  background: no-repeat center;
  margin: 0 auto;
}
.avatar .avartar__title {
  margin-top: 15px;
}
.avatar .result-title-css {
  margin: 20px 0 10px 0;
}
.avatar .avartar__price {
  color: #1a1a1a;
  font-weight: 900;
  line-height: 20px;
}
.avatar .avartar__description {
  margin-top: 0.25rem;
  font-weight: 500;
  font-style: normal;
  color: hsl(0deg, 0%, 47%);
  font-size: 0.8125rem;
}
.avatar .avartar__button {
  margin-top: 2.6875rem;
  display: flex;
  flex-direction: column;
}
.avatar .avartar__button button {
  width: 10.3125rem;
  height: 2.5rem;
  border-radius: 20px;
  border: 1px solid #ffa63f;
  color: #ffa73f;
  background-color: #ffffff;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 20px;
  cursor: pointer;
}
.avatar .avartar__button .home {
  margin-top: 1.1875rem;
}

.last__title {
  margin: 0.5rem 5% 0px;
}

.stepresultLiner {
  margin-bottom: 1.5625rem;
}

.detailOrder__title {
  font-weight: 600;
  text-align: center;
  display: block;
  margin: 10px 0;
  font-size: 22px;
  color: #ff7a22;
}

.detailOrder {
  margin-bottom: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.detailOrder .detailOrder__item {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 0px #ff9948;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
}
.detailOrder .detailOrder__item .detailOrder__item__title {
  font-weight: 500;
  font-style: normal;
  color: #4e4e4e;
}
.detailOrder .detailOrder__item .inputStoreFee {
  margin-top: 15px;
  font-weight: 700;
}
.detailOrder .recalculation__area {
  padding-top: 25px;
  margin-top: 15px;
  border-top: 1px solid #ccc;
}
.detailOrder .recalculation__area .inputStoreType__radio__groups_radio__text p {
  padding-top: 60px;
  text-align: left;
  padding-left: 35px;
  color: #333;
}

.result__details {
  padding: 10px;
}
.result__details .line {
  border: 1px solid #e4e4e4;
  margin: 15px auto;
}
.result__details .item__Bigtitle {
  text-align: left;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}
.result__details .item {
  margin-top: 0.9375rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: left;
}
.result__details .item .item__title {
  font-weight: 500;
  font-size: 0.875rem;
}
.result__details .item .item__content {
  display: block;
  word-break: break-all;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  margin-left: 20%;
  color: #777777;
}
.result__details .item .productCategory,
.result__details .item .detailInput,
.result__details .item .productURL {
  margin-left: 3rem;
}
.result__details .item .haveBarcode {
  margin-left: 2.2rem;
}
.result__details .item .proCaution {
  margin-left: 1rem;
}
.result__details .item .serviceLaunching {
  margin-left: 3rem;
}
.result__details .item .logisticsServiceKinds {
  margin-left: 2rem;
}
.result__details .item .inputStoreCount {
  margin-left: 4.2rem;
}
.result__details .item .inputSKUcount {
  margin-left: 3rem;
}
.result__details .item .inputDateResult {
  margin-left: 4rem;
}
.result__details .item .outputDeliveryCount {
  margin-left: 4rem;
}
.result__details .item .outputPackaing {
  margin-left: 4.2rem;
}
.result__details .item .userService {
  margin-left: 1rem;
}
.result__details .item .courierBagSpan {
  margin-left: 2rem;
}
.result__details .item .processingNeedWork {
  margin-left: 1.8rem;
}
.result__details .item .ResultCustomerCompany,
.result__details .item .ResultCustomerPhone,
.result__details .item .ResultCustomerEmail {
  margin-left: 4.6rem;
}
.result__details .item .ResultCustomerName {
  margin-left: 3rem;
}
.result__details .item .ResultCustomerMemo {
  margin-left: 3.8rem;
}

.avartar__button {
  margin-top: 2.6875rem;
  display: flex;
  flex-direction: column;
  float: center;
  margin-left: calc(50% - 125px);
}
.avartar__button button {
  display: inline-block;
  width: 200px;
  height: 2.5rem;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px #ff9948;
  border: 1px solid #ffa63f;
  color: #ffa73f;
  background-color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}
.avartar__button .home {
  margin-top: 1.1875rem;
}

.recalculation__area .__input__container input {
  background: #f2f2f2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 48px;
  width: 100%;
}
.recalculation__area .__input__container .pro__input {
  box-sizing: border-box;
}
.recalculation__area .__input__container p.text-change {
  margin-bottom: 10px;
}
.recalculation__area::after {
  content: "";
  display: block;
  clear: both;
}
.recalculation__area p.strong {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}
.recalculation__area .recalculation__input__area {
  padding-bottom: 20px;
}
.recalculation__area .recalculation__input__area .recalculation {
  float: right;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  padding: 14px 1.5em !important;
}
.recalculation__area .recalculation__input__area .recalculation:hover {
  color: #ff7a22;
}
.recalculation__area .recalculation-text {
  display: block;
}
.recalculation__area .recalculation-text p {
  color: #6d6d6d;
  font-size: 14px !important;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
  padding: 20px;
}

#finalStep .inputStoreType__radio__groups label,
#finalStep .output__radio__groups label {
  margin-top: 15px;
}
#finalStep .inputStoreType__radio__groups_radio__text p,
#finalStep .output__radio__groups p {
  margin-bottom: 0;
}
#finalStep .radio__title {
  display: none;
}
#finalStep .total,
#finalStep .only,
#finalStep .pallet {
  background: none;
}

/*--------- 모바일 반응형 --------*/
@media screen and (min-width: 0px) and (max-width: 1079px) {
  .detailOrder__item {
    width: 100%;
    display: initial;
  }
  .__input__container {
    width: 100%;
    padding: 15px 0 15px 0;
    float: initial;
    border-bottom: 1px solid #ccc;
  }
  .pro__input {
    margin-bottom: 10px;
  }
  .recalculation {
    margin-top: 28px;
    width: 100%;
  }
  .recalculation-text p {
    margin-top: 70px;
  }
  .avartar__button button {
    width: 100%;
  }
}
#permission {
  cursor: pointer;
}

.check {
  cursor: pointer;
}

.fadeIn {
  display: block;
  -webkit-animation: fadeIn 0.3s forwards;
          animation: fadeIn 0.3s forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
.clothes.clicked,
.stuff.clicked,
.beauty.clicked,
.householdgoods.clicked,
.electronics.clicked,
.stationery.clicked,
.food.clicked,
.etc.clicked {
  background-size: 3.375rem 3.375rem;
  color: #ffffff;
  border: 0;
  outline: 0;
  border-radius: 10px;
  background-size: 2.1875rem 2.1875rem;
  box-shadow: 0px 0px 5px 0px #ff9948;
  color: var(--color__checked);
}

.inputStorePallet.clicked,
.inputStoreBox.clicked,
.total_packaing.clicked,
.only_packaing.clicked {
  box-shadow: 0px 0px 5px 0px #ff9948;
}

.storageType__container__buttons li {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: calc((128% - 16px) / 3);
  height: 2.5rem;
  margin-left: 0.9375rem;
  margin-top: 0.5625rem;
}
.storageType__container__buttons li .refrigerated_storage:hover,
.storageType__container__buttons li .fronze_storage:hover,
.storageType__container__buttons li .room_temperature:hover,
.storageType__container__buttons li .low_temperature:hover {
  box-shadow: 0px 0px 5px 0px #ff9948;
}
.storageType__container__buttons li .refrigerated_storage.clicked,
.storageType__container__buttons li .fronze_storage.clicked,
.storageType__container__buttons li .room_temperature.clicked,
.storageType__container__buttons li .low_temperature.clicked {
  box-shadow: 0px 0px 5px 0px #ff9948;
  border: 0;
  outline: 0;
}
.storageType__container__buttons li span {
  font-weight: 500;
  font-size: 0.65rem;
  color: #bfbfbf;
}
.storageType__container__buttons li i {
  color: #ffffff;
}

/*--------- PC 반응형 --------*/
@media screen and (min-width: 1080px) {
  .detailOrder__item {
    width: 33.3%;
  }
  .__input__container {
    width: calc(25% - 20px);
    margin-right: 20px;
    float: left;
  }
  .recalculation {
    margin-top: 28px;
    width: calc(25% - 10px);
  }
  .recalculation-text p {
    margin-top: 140px;
  }
}/*# sourceMappingURL=price.css.map */